@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/** Main properties **/

:root{
  --primary: #FFAA00;
  --primary-darker: #dd9600;
  --primary-dark: #c38500;
}

::selection {
  background: rgba(255, 170, 0, 0.38);
}

::-moz-selection {
  background: rgba(255, 170, 0, 0.38);
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: white;
  color: #1E272F;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

p{
  font-size: 18px;
}

h1{
  font-size: 72px;
  line-height: 1;
}

h2{
  font-size: 52px;
  line-height: 1;
}

h3{
  font-size: 36px;
  line-height: 1;
}

h4{
  font-size: 24px;
  line-height: 1;
}

.container{
  width: 1320px;
  margin: auto;
}

textarea:focus, input:focus{
  outline: none;
}

*:focus {
  outline: none;
}

.slick-dots .slick-active div{
  background-color: #ffbe41 !important;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.16) !important;
}

.slick-dots {
  bottom: -45px;
}

.slick-prev::before, .slick-next::before {
  color: transparent !important;
}

.slick-next {
  right: -40px;
}

.slick-prev {
  left: -40px;
}

/** Navbar **/

nav{
  position: fixed;
  width: 100%;
  background-color: white;
  padding: 1.325rem;
  z-index: 999;
}

nav h3{
  font-size: 24px;
  font-weight: 1000;
  line-height: 1;
}

nav .nav-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-list{
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

nav .hamburger-container{
  display: none;
}

.mobile-menu{
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 1rem 1rem 1rem;
  position: fixed;
  transition: .3s;
  background-color: white;
  z-index: 998;
  border-bottom: 1px solid #e8e8e8;
}

.merger{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

/** Title Section **/

#section-1{
  position: relative;
  padding-top: 70px;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

#section-1 .section-flexbox{
  position: relative;
  display: flex;
  justify-content: space-evenly;
  gap: 3rem;
  align-items: center;
  padding: 8rem 1.325rem;
  z-index: 1;
}

#section-1 .section-content{
  display: flex;
  flex-direction: column;
  align-items: baseline;
  gap: 3rem;
}

#section-1 .section-content h1{
  font-weight: 800;
}

#section-1 .section-content p{
  color: #1E272F;
  font-weight: 400;
  line-height: 1.8;
  max-width: 600px;
}

.work-btn{
  background-color: var(--primary);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  padding: 16px 40px;
  transition: .15s;
  text-decoration: none;
}

.work-btn:hover{
  cursor: pointer;
  background-color: var(--primary-darker);
}

.work-btn:active{
  background-color: var(--primary-dark);
}

#section-1 .circle-image{
  position: absolute;
  top: 47px;
  left: 42px;
  user-select: none;
}

#section-1 .circle-border{
  user-select: none;
}

#section-1 .blob-svg{
  position: absolute;
  top: 10rem;
  z-index: 0
}

/** Contact Form Section **/

#section-2{
  position: relative;
  padding: 3rem 0;
  background-color: white;
  overflow: hidden;
}

#section-2 .section-flexbox{
  display: flex;
  justify-content: center;
}

#section-2 .section-flexbox .contact-form{
  width: 100%;
  max-width: 1000px;
  padding: 3rem 2rem 3rem 2rem;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #00000014;
  background-color: white;
  z-index: 1;
}

#section-2 .section-flexbox .contact-form .form-input{
  border: 1px solid #D0D0D0;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  padding: 1.325rem;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: 'Nunito Sans', sans-serif;
  margin-bottom: 1.625rem;
}

#section-2 .section-flexbox .contact-form h2{
  font-weight: 800;
  text-align: center;
}

#section-2 .section-flexbox .contact-form .checkbox-text{
  font-size: 16px;
  font-weight: 300;
  color: #888;
}

#section-2 .section-flexbox .contact-form .title{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.625rem;
  margin-bottom: 2rem;
}

#section-2 .decor{
  width: 40px;
  height: 10px;
  background-color: #fa0;
  margin: auto 0;
}

#section-2 .section-flexbox .contact-form .work-btn{
  width: 100%;
  max-width: 500px;
  text-align: center;
}

#section-2 .abstract-img{
  position: absolute;
  top: 120px;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: left;
  width: 100%;
  max-width: 500px;
}

/** Vacancies Section **/

#section-3{
  padding: 4rem 0 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: white;
  background-position: center 300px;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#section-3 .title{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.625rem;
  margin-bottom: 1rem;
  z-index: 2;
}

#section-3 .vacancy-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
  z-index: 1;
}

#section-3 .decor{
  width: 40px;
  height: 10px;
  background-color: #fa0;
  margin: auto 0;
}

#section-3 .vacancy-card{
  border: 1px solid #00000014;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.07);
  border-radius: 16px;
  overflow: hidden;
  width: min-content;
  background-color: white;
}

#section-3 .vacancy-card img{
  width: 330px;
  height: 280px;
  object-fit: cover;
}

#section-3 .vacancy-card .inner{
  padding: 1rem;
}

#section-3 .vacancy-card .inner p{
  margin-bottom: 10px;
}

#section-3 .vacancy-card .inner a{
  display: block;
  padding: 12px 21px;
  background-color: var(--primary);
  text-decoration: none;
  color: white;
  width: fit-content;
  border-radius: 8px;
  transition: .15s;
}

#section-3 .vacancy-card .inner a:hover{
  background-color: var(--primary-darker);
}

#section-3 .vacancy-card .inner a:active{
  background-color: var(--primary-dark);
}

/** Feedback Section **/

#section-4{
  padding: 6rem 0 12rem 0;
  display: flex;
  justify-content: center;
  background-size: cover;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center -180px;
  overflow: hidden;
}

#section-4 .carousel-container{
  width: 100%;
  max-width: 1200px;
}

#section-4 .title{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.625rem;
  margin-bottom: 2.325rem;
  z-index: 2;
}

#section-4 .title h2{
  color: white;
  text-align: center;
}

#section-4 .decor{
  width: 40px;
  height: 10px;
  background-color: #ffffff;
  margin: auto 0;
}

#section-4 .feedback-card{
  background-color: white;
  border-radius: 18px;
  padding: 1.325rem;
  display: flex !important;
  flex-direction: column;
  gap: 1rem;
  margin: 16px;
  box-shadow: 0 0 16px #00000014;
}

#section-4 .feedback-card .content-text{
  font-size: 16px;
  font-weight: 400;
  color: rgba(30, 39, 47, 0.8);
  line-height: 26px;
}

#section-4 .feedback-card .avatar{
  width: 60px;
  height: 60px;
  border-radius: 100%;
}

/** How It Works Section **/

#section-5{
  padding: 4rem 0 8rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#section-5 .title{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.625rem;
  margin-bottom: 1rem;
  z-index: 2;
}

#section-5 .decor{
  width: 40px;
  height: 10px;
  background-color: var(--primary);
  margin: auto 0;
}

#section-5 .step-merger{
  max-width: 380px;
  display: flex;
  gap: 1rem;
}

#section-5 .step-circle{
  aspect-ratio: 1;
  width: 60px;
  height: 60px;
  border: 3px solid var(--primary);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-5 .step-circle p{
  color: var(--primary);
  font-weight: 800;
}

#section-5 .step-list{
  display: flex;
  gap: 1rem;
  margin-bottom: 3rem;
}

/** Found Vacancies Section **/

#section-6{
  display: flex;
  justify-content: center;
  padding: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

#section-6 .flexbox{
  width: 100%;
  max-width: 1100px;
  background-color: white;
  border-radius: 12px;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.625rem;
  flex-wrap: wrap;
}

#section-6 .flexbox .content-text{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#section-6 .flexbox .content-text p{
  font-weight: 400;
  color: rgba(30, 39, 47, 0.8);
}

#section-6 .flexbox .primary-btn{
  color: white;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  text-decoration: none;
  padding: 0.825rem 2.325rem;
  border-radius: 8px;
  gap: 8px;
  transition: .15s;
}

#section-6 .flexbox .primary-btn:hover{
  background-color: var(--primary-darker);
}

#section-6 .flexbox .primary-btn:active{
  background-color: var(--primary-dark);
}

/** Contacts Section **/

#section-7{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 4rem;
  overflow: hidden;
}

#section-7 .title{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.625rem;
  margin-bottom: 1rem;
  z-index: 2
}

#section-7 .desc{
  font-weight: 400;
  margin-bottom: 4rem;
  text-align: center;
}

#section-7 .decor{
  width: 40px;
  height: 10px;
  background-color: var(--primary);
  margin: auto 0;
}

#section-7 .contacts-flexbox{
  display: flex;
  gap: 1rem;
}

#section-7 .contacts-grid{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#section-7 .contacts-grid-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
  max-width: 275px;
}

#section-7 .contacts-grid-item .title{
  font-weight: 800;
  margin-bottom: 0;
}

#section-7 .contacts-grid-item .social-list{
  display: flex;
  gap: 8px;
}

/** Pre-Footer **/

.pre-footer{
  background-color: #fdfdfd;
  border-top: 1px solid #ececec;
  width: 100%;
  padding: 2rem 1rem;
}

.pre-footer .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.pre-footer .list{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.pre-footer .list a{
  color: #1E272F;
  text-decoration: none;
}

/** Footer **/

footer{
  width: 100%;
  color: #cfcfcf;
  font-weight: 400;
  background-color: #1E151D;
  padding: 1rem;
}

footer .container{
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

footer .container p{
  font-size: 14px;
}

/** Custom checkbox **/

.checkbox-wrapper{
  width: 20px;
  height: 20px;
}

.checkbox-wrapper .checkbox {
  --bg: #ff9b00;
  --brdr: #d1d6ee;
  --brdr-actv: #ff9b00;
  --brdr-hovr: #bbc1e1;
  --dur: 300;
  display: inline-block;
  width: 20px;
  height: 20px;
  position: relative;
}

.checkbox-wrapper .checkbox:after {
  content: "";
  width: 100%;
  padding-top: 100%;
  display: block;
}

.checkbox-wrapper .checkbox > * {
  position: absolute;
}

.checkbox-wrapper .checkbox input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  background-color: white;
  border-radius: 4px;
  border: 1px solid;
  color: var(--newBrdrClr, var(--brdr));
  outline: none;
  margin: 0;
  padding: 0;
  transition: all calc(var(--dur) / 3) linear;
}

.checkbox-wrapper .checkbox input:hover,
.checkbox-wrapper .checkbox input:checked {
  --newBrdr: 1px solid;
}

.checkbox-wrapper .checkbox input:hover {
  --newBrdrClr: var(--brdr-hovr);
}

.checkbox-wrapper .checkbox input:checked {
  transition-delay: calc(var(--dur) /1.3);
  border: none;
  background-color: var(--bg);
}

.checkbox-wrapper .checkbox input:checked + svg {
  --dashArray: 16 93;
  --dashOffset: 109;
}

.checkbox-wrapper .checkbox svg {
  fill: none;
  left: 0;
  pointer-events: none;
  stroke-dasharray: var(--dashArray, 93);
  stroke-dashoffset: var(--dashOffset, 94);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 2px;
  top: 0;
  transition: stroke-dasharray var(--dur), stroke-dashoffset var(--dur);
}

.checkbox-wrapper .checkbox svg,
.checkbox-wrapper .checkbox input {
  display: block;
  height: 100%;
  width: 100%;
}
